{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Log in Page</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

    </head>
    <body id='body'>
        
        <div class="container">
            <div class="content">
                {% if status_login %}
                    <div><h3 style="color: white">{{ message_success }}</h3>
                    <a href="{% url 'story_9:log_out' %}" id="logout" class="btn btn-primary"> <i aria-hidden="true"></i>Log out</a></div>
                {% else %}
                        <div><h2 class="judul">Log In</h2></div>
                        <div class="content-form"><form class="form_input" method="POST" class="isi" action="{% url 'story_9:log_in' %}">
                            {% csrf_token %}
                            <div style="color: #161670" class="validate-input" data-validate="Username is required">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                            </div>
                            <div style="color: #161670" class="validate-input" data-validate="Valid email is required" data-validate2="Email already registered">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                            <div style="color: #161670" class="validate-input" data-validate="Password is required">
                                {{ form.password.label_tag }}
                                {{ form.password }}
                            </div>
                            <button class="submit" id="login" type="submit">Log in</button>
                            <br><br>
                        </form></div>
                        {% if messages %}
                            <div class="notifications">
                                {% for message in messages %}
                                <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                {% endif %}
            </div>
        </div>

    </body>
</html>
