*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
	background-color: #73C1C6;
}

#status{
	border-radius: 10%;
	background-color: aliceblue;
}

#sign{
	font-family: 'Monsieur La Doulaise', cursive;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
}