*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
	background-color: #73C1C6;
}

#status{
	background-color: lightskyblue;
	border-radius: 2%;
	padding: 5%;
	margin: 2%;
}

#title{
	margin-top: 5%;
	margin-left: 5%;
}

#content{
	margin-left: 5%;
	margin-right: 5%;
}

.span1{
	width: 40%;
	float: left;
}

.span2{
	width: 60%;
	float: left;
}

#sign{
	font-family: 'Monsieur La Doulaise', cursive;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
}

#form{
	padding-left: 3%;
}

#title_status{
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: blue;
	padding: auto;
}
