*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
	background-color: #73C1C6;
}

#status{
	background-color: aliceblue;
	border-radius: 2%;
	padding: 5%;
}

#sign{
	font-family: 'Monsieur La Doulaise', cursive;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
}

#statusPage{
	margin-top: 5%;
}

#form{
	padding: 3%;
}