*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
	background-color: #73C1C6;
}

#status{
	background-color: lightskyblue;
	border-radius: 2%;
	padding: 5%;
	margin: 2%;
}

#left{
	margin-top: 5%;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	width: 40%;
	float: left;
}

#right{
	margin-top: 5%;
	margin-right: 5%;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	width: 60%;
	float: left;
}

#sign{
	font-family: 'Monsieur La Doulaise', cursive;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
}

#form{
	padding-left: 3%;
}

#title_status{
	font-weight: bold;
	font-size: 1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: blue;
	text-align: center;
}

#container{
	display: flex;
	flex-direction: row;
}

.fixed-top{
	margin-bottom: 5%;
}

@media(max-width: 1000px){
	#container{
		flex-direction: column;
	}
}
