body, html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,143,130,1) 61%, rgba(93,207,183,1) 100%);
}

#menuBar{
    background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,143,130,1) 61%, rgba(93,207,183,1) 100%);
}

#title_page {
    color: white;
    text-align:center;
    font-size: 90px; 
    padding-top: 50px;
    margin-bottom:-1vh;
}

#table-container {
    border-radius: 10px;
    background: inherit;
    border-color: #ccf1ef;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    margin-top:17px;
    margin-bottom:17px;  
    margin-bottom:6.7%; 
    padding: 10%; 
}

table{
    font-size: 22px;
}

#insiderec {
    padding: 30px;
}

#form-search input[type=text]{
    text-align: center; 
    font-size: 20px;
    border: 150px solid #4dd0e1;
    box-shadow: 0 0 0 150px #4dd0e1;
}


