{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Status Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise|Noto+Sans|Salsa|Roboto+Condensed&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'layout/style.css' %}">
	
</head>
<body>
	<header>
		{% include "base/base.html" %}
	</header>
	<div id="container">
		<div id="left">
			<div id="pageTitle">
				<h2 class="TitleLeft">What's Happening?</h2>
			</div>
			<div id="container-form">
				<form id="information_form" method="POST" action="{% url 'story7:add_information' %}">
					{% csrf_token %}
					{{ form }}
					<br>
					<button type="submit" id="post" class="btn btn-primary">Post</button>
				</form>
			</div>
		</div>
		<div id="right">
			<div class="accordion">
				<ul class="option"><a class="toggle" id="option1">Status</a>
					<li id="kumpulan_status"  class="inner">		
						<ul id="container-status">
							<li>
								<div>
									{% for data in list_status %}
									<div id="status">
										<p>{{ data.content }}</p>
										<p>{{ data.dateTime }}</p>
										<p><form action="{% url 'story7:delete_information' data.id %}" method="GET">
											<button type="submit" id="delete" class="btn btn-primary">Delete</button>
											</form>
										</p>
									</div>
									{% endfor %}
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="option"><a class="toggle" id="option2">Organization Experiences</a>
						<li  class="inner">
							<ul>
									<li class="organization">
										<p class="period">February 2019 - January 2020</p>
										<p>Staff of Human Resource Development Beruau at BEM Faculty of Computer Science 2019<br>
										(HRD of the Information Technology Development Bureau and creating the internal events )</p>
									</li>
									<li class="organization">
										<p class="period">October 2016 - October 2017</p>
										<p>President at MPK SMAN 38 Jakarta<br>
										( Responsible for all members )</p>
									</li>
									<li class="organization">
										<p class="period">September 2015 - October 2016</p>
										<p>Flag Ceremony Overseer Subsie at MPK SMAN 38 Jakarta<br>
										( Oversee flag ceremony every Monday and national ceremony )</p>
									</li>
							</ul>
						</li>
				</ul>
				<ul class="option"><a class="toggle" id="option3">Committee Experiences</a>
					<li class="inner">
							<ul>
									<li class="organization"><p class="period">April 2019 - November 2019</p>
										<p>Staff of Event Division PMB Faculty of Computer Science 2019</p>
										<p>( Person in charge introduction of the faculty academic system event )</p>
									</li>
									<li class="organization"><p class="period">February 2019 - September 2019</p>
										<p>Staff of Event Division COMPFEST 11</p>
										<p>( Organize related to the stage )</p>
									</li>
									<li class="organization"><p class="period">December 2018 - January 2019</p>
										<p>Staff of Event Division Odd Graduation Faculty of Computer Science</p>
										<p>( Creating the MC script )</p>
									</li>
							</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="theme-switch-wrapper">
       		<label class="theme-switch" for="checkbox">
    			<input type="checkbox" id="checkbox" />
    			<div class="slider round"></div>
  			</label>
    		<em>Enable Dark Mode!</em>
  		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'js/status.js' %}"></script>
</body>
</html>