{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Books List</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise|Noto+Sans|Salsa|Roboto+Condensed&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'javascript/search.js' %}"></script>
</head>

<body>
	<header>
		{% include "header/base.html" %}
	</header>
    <div id="container" class="container-fluid h-100" style="display: inline">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-11">
                <div class="row">
                    <p id="title_page" class="title col-sm-12" style="color: white; text-align:center; font-size: 90px; padding-top: 50px; margin-bottom:-1vh;"><strong>Find Your Books!</strong></p>
                </div>
                <div id="form-container" class="d-flex justify-content-center">
            
                    <div id="form-search" class="d-flex justify-content-center">
                        <input type="text" id="textField" placeholder="search.." title="Type in a name" size="80%">
                    </div>

                </div>
                <div id="table-container" class="d-flex justify-content-center">
                    <div id="insiderec" class="d-flex justify-content-center" style="width: 70%">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="table text-center">
                                        <th scope="col" class="align-middle">No</th>
                                        <th scope="col" class="align-middle">Title</th>
                                        <th scope="col" class="align-middle">Authors</th>
                                        <th scope="col" class="align-middle">Publisher</th>
                                        <th scope="col" class="align-middle">Published Date</th>
                                        <th scope="col" class="align-middle">Cover</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>