body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,143,130,1) 61%, rgba(93,207,183,1) 100%);
}

.content{
    width: 30%;
    margin: auto;
    padding-left: 5%;
}

.container{
    align-items: center;
    margin-top: 12%
}

.content-form{
    padding: 2%;
    background-color: rgba(43,143,130,1);
}

h2{
    color: white;
    text-align:center;
    font-size: 40px; 
    padding-top: 50px;
}

h3{
    color: white;
    text-align:center;
    font-size: 40px; 
    padding-top: 50px;
}



