body{
    background-color: #4dd0e1;
}

.content{
    width: 30%;
    margin: auto;
    padding-left: 5%;
}

.container{
    align-items: center;
    margin-top: 15%
}

.content-form{
    padding: 2%;
}

h2{
    text-align:center;
    font-size: 90px; 
    padding-top: 50px;
    margin-bottom:-1vh;
}


