*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
}

#menuBar{
	background: linear-gradient(180deg, #137987 0%, rgba(253, 253, 253, 0.931217) 100%);
	mix-blend-mode: normal;
	position: sticky;
}

#sign{
	font-family: 'Monsieur La Doulaise', cursive;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
}

nav{
	background-color: inherit;
	text-align: right;
	font-family: 'Noto Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #000000;
}

#titleAbilities1, #titleAbilities2, #foto, #rightArrow{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#Hello, #arrow{
	display: inline;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	align-items: center;
}

#Hello{
	margin-top: 40%;
}

#arrow{
	margin-left: 44%;
}

#textHome{
	margin: auto;
}

#fotoHome{
	margin-top: 12%;
}

#fotoHomePage{
	width: 75%;
}

#homePage{
	background: linear-gradient(180deg, rgba(214, 243, 248, 0) 5%,  rgba(10, 92, 58, 0.711427) 95%);
	mix-blend-mode: normal;
	max-width: 100%;
	color: #10492A;
}

#profilePage{
	background: linear-gradient(180deg, rgba(10, 92, 58, 0.711427) 5%, rgba(214, 243, 248, 0) 100%);
}

#profile{
	background: #58B39D;
	border-radius: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	padding: 2%;
	font-size: 20px;
	width: 85%;
	margin-top: -10%;
	padding-left: 7%;
}


.Title{
	font-family: 'Salsa', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 90px;
	line-height: 100px;
	text-align: center;
	color: #0D413E;
	text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
	margin-left: 5%;
}

#foto{
	margin-top: -5%;
}

#image2{
	border-radius: 75%;
	background: inherit;
}


#aboutMe{
	background: #58B39D;
	border-radius: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #35170A;
	text-shadow: 0px 4px 10px rgba(250, 250, 250, 0.25);
	padding: 0;
	margin: auto;
	padding: 2%;
	width: 80%;
	font-size: 30px;
	margin-bottom: 10%;
}

.TitleLeft{
	font-family: 'Salsa', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	line-height: 100px;
	text-align: left;
	color: #0D413E;
	text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
}

.inheritMenuBar{
	max-width: 100%;
	height: 70px;
}

#isiProfilePage{
	padding-top: 30px;	
	color: #35170A;
	text-shadow: 0px 4px 10px rgba(250, 250, 250, 0.25);
}

.pageTitle{
	padding-left: 40px;
}


.progress{
	width: 150px;
	height: 20px;
	line-height: 0;
	background: inherit;
	margin-top: 10px;
}

.listAbilities{
	list-style: none;
	display: inline-block;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 30px;
	padding: 2%;
	width: 95%;
}

.listAbilities li{
	width: 100%;
	margin-left: 10px;
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	font-weight: bold;
}

.listAbilities li span p{
	margin: 0;
}


#hardSkill, #softSkill{
	background: #E0BB5C;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin: auto;
	width: 90%;
}

#titleAbilities1, #titleAbilities2{
	font-family: MS UI Gothic;
	text-align: center;
	font-size: 50px;
	line-height: 96px;
	color: #917A4F;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#abilitiesPage{
	background: linear-gradient(179.07deg, rgba(250, 254, 255, 0.869792) 1.09%, #CCCF34 43.84%, #CCCF34 118.36%);
}

.listOrganizations, .listCommittee{
	list-style: none;
	width: 70%;
	margin-left: 15%;
}


.organization{
	background: #EBD667;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: #752810;
	text-align: center;
}

.period{
	font-size: 20px;
	color: orange;
}

.titleExperience{
	font-family: MS UI Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 64px;
	color: #FF4B12;
	text-align: center;
}

#experiencePage{
	background: linear-gradient(180deg, #CCCF34 21.86%, #FFFFFF 100%);
}

#ig, #twitter{
	padding: 0;
	text-align: right;
} 

#userIG, #userEmail, #userTwitter, #userLinkedin{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: Salsa;
	font-size: 32px;
	border-color: black;
	text-align: left;
}

#contactPage{
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.848958) 0%, #D35026 50%);
}

#activitiespage{
	background: linear-gradient(180deg, #D35026 0%, rgba(255, 255, 255, 0.848958) 100%);
}

.nav ul li a:hover{
	color: black;
}