*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
	background-color: #73C1C6;
}

#status{
	background-color: lightgrey;
	border-radius: 2%;
	padding: 2%;
	margin: 2%;
}

#left{
	margin-top: 5%;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	width: 40%;
	float: left;
}

#delete{
	background-color: transparent;
	border: none;
	color: grey;
	padding: 0;
}

#right{
	margin-top: 5%;
	margin-right: 5%;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	width: 60%;
	float: left;
}

#sign{
	font-family: 'Monsieur La Doulaise', cursive;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
}

#form{
	padding-left: 3%;
}

#container{
	display: flex;
	flex-direction: row;
}

.fixed-top{
	margin-bottom: 5%;
}

#titleExperience{
	font-weight: bold;
	font-size: 1.2rem;
}

ul{
	list-style-type: none;
}

/* accordion */
.option {
	border-radius: 8px;
	border-color: blue;
	border-width: 2rem;
	overflow: hidden;
	box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
	width: 60%;
	height: 35%;
	padding-left: 2%;
	padding-top: 2%;
	background-color: mediumturquoise;
}
  .inner {
	width: 100%;
	color: white;
	overflow: hidden;
	&-label {
	  display: flex;
	  justify-content: space-between;
	  padding: 1em;
	  background: $midnight;
	  font-weight: bold;
	  cursor: pointer;
	  /* Icon */
	  &:hover {
		background: darken($midnight, 10%);
	  }
	  &::after {
		content: "\276F";
		width: 1em;
		height: 1em;
		text-align: center;
		transition: all .35s;
	  }
	}
	/*&-content {
	  max-height: 0;
	  padding: 0 1em;
	  color: $midnight;
	  background: white;
	  transition: all .35s;
	}
	&-close {
	  display: flex;
	  justify-content: flex-end;
	  padding: 1em;
	  font-size: 0.75em;
	  background: $midnight;
	  cursor: pointer;
	  &:hover {
		background: darken($midnight, 10%);
	  }
	}*/
  }
}
  
/* mode */
:root {
	--font-color: black;
	--heading-color: #2A36E4;
	--bg-color: #73C1C6;
	--bg-image: none;
	--bg-color-accordion: blue;
	--btn-color-post: #9FDCE7;
	--bg-color-status: #71EBDF;
	--font-color-delete: grey;
}

[data-theme="dark"] {
	--font-color: #DBE7E6;
	--heading-color: #323340;
	--bg-color: none;
	--bg-image: url("../stars.69adce91ce40.png");
	--bg-color-accordion: #3B4241;
	--btn-color-post: #749095;
	--bg-color-status: grey;
	--font-color-delete: black;
}

*{
	background-color: var(--bg-color);
}

body {
	font-family: "Lato", sans-serif;
	background-image: var(--bg-image);
	max-width: 90%;
	margin: 0 auto;
	font-size: calc(1rem + 0.25vh);
	display:  flex;
	flex-direction: row;
}

h2 {
	color: var(--heading-color);
	font-family: "Sansita One", serif;
    font-size: 2rem;
    margin-bottom: 1vh;
}

.accordion{
	font-size: 1rem;
	color: var(--font-color);
	font-weight: bold;
	background-color: var(--bg-color-accordion);
}

#status{
	background-color: var(--bg-color-status);
	border-radius: 2%;
	padding: 2%;
	margin: 2%;
}

.inner{
	color: var(--font-color);
}

#post{
	background-color: var(--btn-color-post);
}

#delete{
	background-color: var(--font-color-delete);
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  
  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media(max-width: 1000px){
	#container{
		flex-direction: column;
	}
}
