*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}

body{
	overflow-x: hidden;
	background-color: #73C1C6;
}

#status{
	background-color: lightgrey;
	border-radius: 2%;
	padding: 2%;
	margin: 2%;
}

#left{
	margin-top: 5%;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	width: 40%;
	float: left;
}

#delete{
	background-color: transparent;
	border: none;
	color: grey;
	padding: 0;
}

#right{
	margin-top: 5%;
	margin-right: 5%;
	display: flex;
	flex-direction: column;
	width: 60%;
	float: left;
	box-sizing: border-box;
}

#sign{
	font-family: 'Monsieur La Doulaise', cursive;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
}

#form{
	padding-left: 3%;
}

#title_status{
	font-weight: bold;
	font-size: 1.2rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: lightslategray;
	text-align: center;
	margin-bottom: -2%;
}

#container{
	display: flex;
	flex-direction: row;
}

.fixed-top{
	margin-bottom: 5%;
}

#titleExperience{
	font-weight: bold;
	font-size: 1.2rem;
}

a{
	text-decoration: none;
	color: #333;
}

ul {
    list-style: none;
    padding: 0;
  
    .inner {
        padding-left: 1em;
        overflow: hidden;
        display: none;
      
        &.show {
          /*display: block;*/
        }
    }
  
    li {
        margin: .5em 0;
      
        a.toggle {
            width: 100%;
            display: block;
            background: rgba(0,0,0,0.78);
            color: #fefefe;
            padding: .75em;
            border-radius: 0.15em;
            transition: background .3s ease;
          
            &:hover {
                background: rgba(0, 0, 0, 0.9);
            }
        }
    }
}

@media(max-width: 1000px){
	#container{
		flex-direction: column;
	}
}
