{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Status Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise|Noto+Sans|Salsa|Roboto+Condensed&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
</head>
<body>
		<header>
			{% include "header/base.html" %}
		</header>
	<div id="container">
		<div id="left">
			<div id="pageTitle">
				<h2 class="TitleLeft">Halo, Apa Kabar?</h2>
			</div>
			<div id="container-form">
				<form id="status_form" method="POST" action="{% url 'story6:add_status' %}">
					{% csrf_token %}
					{{ form }}
					<br>
					<button type="submit" id="post" class="btn btn-primary">Post</button>
				</form>
			</div>
		</div>
		<div id="right">
			<div id="title_status"><p>Status</p></div>
			<div id="container-status">
				<div>
					{% for data in list_status %}
					<div id="status">
                        <p>{{ data.content }}</p>
						<p>{{ data.dateTime }}</p>
						<p><form action="{% url 'story6:delete_status' data.id %}" method="GET">
  							<button type="submit" id="delete" class="btn btn-primary">Delete</button>
							</form>
						</p>
                    </div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>
