{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Activities Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise|Noto+Sans|Salsa|Roboto+Condensed&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
		<header>
			{% include "header/header.html" %}
		</header>
		<div id="activitiesPage">
			<div class="inheritMenuBar"></div>
			<div class="pageTitle">
				<h2 class="TitleLeft">My Activities</h2>
			</div>
			<div class="row">
				<div class="col">
					<table class="table table-borderless">
				        <thead>
				          <tr>
				            <th scope="col">Date</th>
				            <th scope="col">Time</th>
				            <th scope="col">Categories</th>
				            <th scope="col">Activities</th>
				            <th scope="col">Place</th>
				            <th scope="col"></th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr>
				          {% for data in toDoList %}
				         	  <td class="date"> {{ data.date }} </td>
				              <td class="time"> {{ data.time }} </td>
				              <td class="categories"> {{ data.categories }} </td>
				              <td class="todo"> {{ data.activities }} </td>
				              <td class="place"> {{ data.place }} </td>
				              <td><form action="{% url 'story4:delete_todo' data.id %}" method="GET">
  									<button type="submit" class="btn btn-primary">Delete</button>
								  </form>
							 </td>
				          </tr>
				          {% endfor %}
				        </tbody>
				     </table>
				</div>
				<div class="col">
					<form id="form" method="POST" action="{% url 'story4:add_message' %}">
						{% csrf_token %}
					  	{{ form }}
					  	<br>
					  <button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
</body>
</html>